body {
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Alinha na parte inferior */
    height: 100vh; /* Altura da viewport */
    margin: 0;
}

.container {
    text-align: center; /* Centraliza o conteúdo do container */
}

.imagem {
    max-width: 100%; /* Faz com que a imagem se ajuste à largura da tela */
    height: auto; /* Mantém a proporção da imagem */
}
