body {
    margin: 0;
    height: 100vh; /* Altura total da viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('robo3.png'); /* Usando a imagem local */
    background-size: cover; /* Para cobrir todo o elemento */
    background-position: center; /* Para centralizar a imagem */
}
