body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura total da viewport */
    margin: 0;
}

img {
    max-width: 80%; /* Ajusta o tamanho da imagem */
    height: auto;
}
